{% extends 'hommeultime.html.twig' %}

{% block title %}Reinitialisation mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .sidebar {
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}


{% block content %}
    <div class="block">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary">Réinitialiser mon mot de passe</button>
        {{ form_end(form) }}
    </div>

{% endblock %}