{% extends 'hommeultime.html.twig' %}

{% block title %}Reinitialisation mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .sidebar {
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}


{% block content %}
    <h4>Reinitialisation mot de passe</h4>
    <div class="form_inputt">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Réinitialiser</button>
        {{ form_end(form) }}
    </div>

{% endblock %}