{% extends 'hommeultime.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {#    {% if app.user.challenge %} #}
    <div class="profile-home">
        <img class="photo-profile" src="{{ asset('uploads/images/') ~ app.user.photo }}"
             height=150px alt="Photo profile">


        <ul>
            <li>{{ app.user.prenom }}</li>
            <li>Age : {{ app.user.age }} Ans</li>
            <li>Poids : {{ app.user.poids }} Kg</li>
        </ul>

        <div class="avant-apres d-flex">
            <div class="d-flex">
                <img class="photo-profile" src="{{ asset('uploads/photos-avant-apres/j1.webp') ~ app.user.avant }}"
                     height=250px alt="">
            </div>
            <div class="d-flex">
                <img class="photo-profile" src="{{ asset('uploads/photos-avant-apres/j2.webp') ~ app.user.apres }}"
                     height=250px alt="">
            </div>
        </div>



    </div>

    <h5>Mon tableau de bord semaine #1 !!!!<-----</h5>
    <li>Nombre total d'entrainements réalisées :</li>

    {% if entrainements is empty %}
        Aucun entrainement réalisé cette semaine pour l'instant
    {% else %}

        {% for entrainement in entrainements %}
            {% set jour = (entrainement.date | format_datetime('full', 'none', locale='fr')) | split(' ')  %}


            <p>{{  jour[0]}} {{ entrainement.date | date('H:i') }} - {{ entrainement.seanceRealise.zone }}  </p>
        {% endfor %}

    {% endif %}



    {#    {% else %} #}
    {#        <h4>Prêt pour ton challenge ?</h4> #}


    {#        {{ form_errors(form) }} #}

    {#        {{ form_start(form) }} #}
    {#    <div class="row "> #}
    {#        <div class="col-lg-4 text-center "> #}
    {#            <img class="rounded-4 challenge m-1" src='{{ asset('uploads/challenge/seche.png') }}' alt="Sèche"/> #}
    {#        </div> #}
    {#        <div class="col-lg-4 text-center "> #}
    {#            <img class="rounded-4 challenge m-1"src='{{ asset('uploads/challenge/force.png') }}' alt="Force" /> #}
    {#        </div> #}
    {#        <div class="col-lg-4 text-center"> #}
    {#            <img class="rounded-4 challenge  m-1" src='{{ asset('uploads/challenge/masse.png') }}' alt="Masse" /> #}
    {#        </div> #}
    {#    </div> #}

    {#        {{ form_rest(form) }} #}
    {#        <div class="row text-center mt-4 mb-3"> #}
    {#            <div class="col"> #}
    {#                <button type="button" class="btn btn-success ">Activer les noifications</button> #}
    {#            </div> #}
    {#        </div> #}
    {#        <div class="row text-center mb-4"> #}
    {#            <button type="submit" class="btn btn-dark ">Démarrer le challenge!</button> #}
    {#        </div> #}

    {#        {{ form_end(form) }} #}
    {#    {% endif %} #}
{% endblock %}
