{% extends 'base.html.twig' %}

{% block title %}
    CHAKHGUEREEV-DEV
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/cv_responsive_animations.js') }}" type="text/javascript"></script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/variables.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('styles/style_cv.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <header>
        <nav>
            <div>
                <h2 class="logo"><i class="bi bi-terminal"></i><a href="https://github.com/iromosawake">Chakhguereev
                        Lioma</a></h2>
                <i>Développeur web full-stack</i>
            </div>

            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="#about" id="about_butt">À propos de moi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills" id="skills_butt">SKILLS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience" id="experience_butt">Expériences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education" id="education_butt">Formations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio" id="portfolio_butt">Code</a>
                </li>
                <li>
                    <a class="nav-link" href="#" onclick="darkulaMode();">
                        <i id="darkula_mode" class="bi bi-brightness-low-fill"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="vp-content">

        <section id="about">
            <div class="profile-picture">
                <img src="{{ asset('images/photo_perso2-grey.jpg') }}" alt="photo profile"/>
            </div>

            <a href="{{ asset('documents/CV.pdf') }}" class="button1" target="_blank">Télécharger CV</a>

            <div class="desc">
                <h2 class="heading">A propos de moi</h2>
                <p>
                    Développeur junior en quête d'apprentissage continu et passionné par la programmation web avec
                    Symfony. Mon enthousiasme pour relever de nouveaux défis et ma volonté de perfectionner mes
                    compétences font de moi un professionnel déterminé à évoluer dans le domaine du développement
                    logiciel.
                </p>
                <h3>Curieux</h3>
                <p>Pendant mon enfance, j'avais une passion pour l'invention de jeux que je concrétisais en dessinant
                    sur du papier.<br>
                    Plus tard, j'ai exploré l'univers de la création de jeux RPG en utilisant RPG Maker, une expérience
                    qui a renforcé ma créativité.<br>
                    Grâce à ma maîtrise du langage JavaScript, j'ai acquis la capacité d'ajouter des fonctionnalités
                    innovantes à mes créations.<br><br>
                    J'apprécie particulièrement étudier les projets développés par d'autres personnes,
                    car cela me permet de comprendre leur raisonnement et d'approfondir mes connaissances.<br>
                    C'est une source d'inspiration constante dans mon parcours de développement.
                </p>
                <h3>Autodidacte</h3>
                <p>Pendant mon BTS, j'ai suivi des cours de web assez basiques, que j'ai réussi à compléter en me
                    formant de manière autonome.<br>
                    J'ai également suivi deux formations encadrées par Pôle Emploi en tant que Technicien d'études de
                    développement et DevOps C#,
                    qui ont enrichi mes compétences dans différents langages. Le portfolio que vous parcourez
                    aujourd'hui est le résultat de cet apprentissage.<br><br>
                    Cependant, je suis convaincu qu'il n'y a rien de plus efficace et gratifiant que de rechercher
                    activement des solutions et d'apprendre par soi-même.
                </p>
            </div>

            <h2 class="heading">PROJETS</h2>

            <div id="portfolio">
                <div class="projet">
                    <a href="https://github.com/iromosawake/projetPOEC" target="_blank">
                        <img src="{{ asset('images/hometraining.png') }}"
                             alt="projet POEC HomeTraining C# MVVM Prism"/>
                    </a>
                </div>
                <div class="projet">
                    <a href="https://github.com/iromosawake/atelier_electronik" target="_blank">
                        <img src="{{ asset('images/atelier_electronik.png') }}"
                             alt="Application web de gestion de dépannages projet perso"/>
                    </a>

                </div>
                <div class="projet">
                    <a href="{{ path('programme.show') }}" target="_blank">
                        <img src="{{ asset('images/hola_muscu.png') }}"
                             alt="Projet perso PHP Symfony : Challenger"/>
                    </a>
                </div>
                <div class="projet">
                    <a href="https://github.com/iromosawake/MaquetteHtmlFlex" target="_blank">
                        <img src="{{ asset('images/es-maqsuette.PNG') }}"
                             alt="Projet perso HTML CSS : Flex"/>
                    </a>
                </div>
            </div>


            <h2 class="heading">SKILLS</h2>

            <div id="skills">
                <a href="{{ asset('documents/certificationhtml-css.pdf') }}" target="_blank">
                    <div class="item-skill">
                        <img src="{{ asset('documents/html-css.webp') }}" alt="comp"/>
                        <div class="bar">
                            <div class="progress html-css"></div>
                        </div>
                    </div>
                </a>

                <div class="item-skill">
                    <img src="{{ asset('documents/git.webp') }}" alt="comp"/>
                    <div class="bar">
                        <div class="progress git"></div>
                    </div>
                </div>

                <a href="{{ asset('documents/') }}" target="_blank">
                    <div class="item-skill">
                        <img src="{{ asset('documents/php.webp') }}" alt="comp"/>
                        <div class="bar">
                            <div class="progress php"></div>
                        </div>
                    </div>
                </a>

                <a href="{{ asset('documents/dotNet Comp.pdf') }}" target="_blank">
                    <div class="item-skill">
                        <img src="{{ asset('documents/dotnet.webp') }}" alt="comp"/>
                        <div class="bar">
                            <div class="progress net"></div>
                        </div>
                    </div>
                </a>

                <div class="item-skill">
                    <img src="{{ asset('documents/js-ts.webp') }}" alt="comp"/>
                    <div class="bar">
                        <div class="progress js"></div>
                    </div>
                </div>

                {#                <div class="item-skill"> #}
                {#                    <img src="{{ asset('documents/java.webp') }}" alt="comp"/> #}
                {#                    <div class="bar"> #}
                {#                        <div class="progress java"></div> #}
                {#                    </div> #}
                {#                </div> #}

                <div class="item-skill">
                    <img src="{{ asset('documents/nodejs.webp') }}" alt="comp"/>
                    <div class="bar">
                        <div class="progress node"></div>
                    </div>
                </div>

                <div class="item-skill">
                    <img src="{{ asset('documents/react.webp') }}" alt="comp"/>
                    <div class="bar">
                        <div class="progress react"></div>
                    </div>
                </div>

                <div class="item-skill">
                    <img src="{{ asset('documents/docker.webp') }}" alt="comp"/>
                    <div class="bar">
                        <div class="progress docker"></div>
                    </div>
                </div>

            </div>

        </section>


        <section id="experience">
            <h2 class="heading">Expérience professionelle développement</h2>

            <div class="exp">

                <div class="exp-date" class="text-align: right;">Fevrier 2018 - Juin 2018</div>
                <div class="exp-separator">
                    <div class="point"></div>
                </div>
                <div class="exp-details">
                    <h4>Développeur PHP Symfony</h4>
                    <p>Participation à la refonte application web de réservation<br>
                    </p>
                    <a href="https://albatec.fr/"><img src="{{ asset('images/albatec.png') }}" alt="albatec"> </a>
                </div>

                <div class="exp-details">
                    <h4>Développeur PHP Symfony</h4>
                    <p>Collaboration au sein d'une équipe de cinq développeurs en étroite collaboration avec le client
                        final pour la refonte du site dansnoscoeurs.fr
                    </p>
                    <a href="https://quizzbox.com/"><img src="{{ asset('images/qb.png') }}" alt="quizzbox"></a>
                </div>
                <div class="exp-separator">
                    <div class="point"></div>
                </div>
                <div class="exp-date" style="text-align: left;">Fevrier 2016 - Juin 2017</div>



                <div class="exp-date" class="text-align: right;">Novembre 2015 - Janvier 2016</div>
                <div class="exp-separator">
                    <div class="point"></div>
                </div>
                <div class="exp-details">
                    <h4>Développeur Android</h4>
                    <p>Développement application télécommande virtuelle
                    </p>
                    <a href="https://www.nextmedia.fr/"><img src="{{ asset('images/next.png') }}" alt="nextmedia"> </a>
                </div>

            </div>
        </section>

        <section id="education">
            <h2 class="heading">Formation</h2>
            <table>
                <tbody>
                <tr>
                    <th scope="row">2021 - 2022</th>
                    <td>
                        <a target="_blank" href="{{ asset('documents/dotNet Comp.pdf') }}">Formation Dev Ops Dot
                            Net</a>
                    </td>
                    <td>399 Heures, Institut de la PME, Clermont Ferrand</td>
                </tr>
                <tr>
                    <th scope="row">2017 - 2018</th>
                    <td>
                        <a target="_blank" href="{{ asset('documents/tedi_comp.pdf') }}">Formation Technicien
                            d'Etude et
                            de Développement Informatique</a>
                    </td>
                    <td>6 mois, Human Booster, Clermont Ferrand</td>
                </tr>
                <tr>
                    <th scope="row">2013 - 2014</th>
                    <td>Licence Pro Méthodes et Outils de Développement Informatique</td>
                    <td>Campus des Cézeaux, Clermont Ferrand</td>
                </tr>
                <tr>
                    <th scope="row">2011 - 2013</th>
                    <td>BTS Système Informatique aux Organisations</td>
                    <td>Godefroy de Bouillon JB de la Salle, Clermont Ferrand</td>
                </tr>
                <tr>
                    <th scope="row">2008 - 2011</th>
                    <td>Bac Pro Electronique numérique</td>
                    <td>Lycée Professionnel Camille Claudel, Clermont Ferrand</td>
                </tr>
                </tbody>
            </table>
        </section>

    </div>


    <footer>
        <h6>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewbox="0 0 512 512" height="1.5em"
                 width="1.5em" xmlns="http://www.w3.org/2000/svg">
                <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 448c-110.532 0-200-89.451-200-200 0-110.531 89.451-200 200-200 110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200zm107.351-101.064c-9.614 9.712-45.53 41.396-104.065 41.396-82.43 0-140.484-61.425-140.484-141.567 0-79.152 60.275-139.401 139.762-139.401 55.531 0 88.738 26.62 97.593 34.779a11.965 11.965 0 0 1 1.936 15.322l-18.155 28.113c-3.841 5.95-11.966 7.282-17.499 2.921-8.595-6.776-31.814-22.538-61.708-22.538-48.303 0-77.916 35.33-77.916 80.082 0 41.589 26.888 83.692 78.277 83.692 32.657 0 56.843-19.039 65.726-27.225 5.27-4.857 13.596-4.039 17.82 1.738l19.865 27.17a11.947 11.947 0 0 1-1.152 15.518z"></path>
            </svg>
            CHAKHGUEREEV LIOMA . 2023
        </h6>
        <h6>Tous droits réservés.</h6>
        <div class="links">
            <div class="space-x-6 md:space-x-4 flex flex-row justify-center md:justify-end items-center text-gray-200 w-full">
                <a href="https://www.linkedin.com/in/lioma-chakhguereev-3a353175/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/iromosawake" target="_blank">
                    <i class="bi bi-github"></i>
                </a></div>
        </div>
    </footer>

{% endblock %}
