{% extends 'hommeultime.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .password-container {
            position: relative;
        }
        .toggle-password {
            cursor: pointer;
            position: absolute;
            right: 12px;
            top: 33px;
        }
        .sidebar {
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}

    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("registration_form_plainPassword_first");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>
{% endblock %}

{% block content %}
    <h1>Inscription</h1>
<div class="form_inputt">
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    <div class="password-container">
    {{ form_row(registrationForm.plainPassword) }}
        <i class="toggle-password bi bi-eye" onclick="togglePasswordVisibility()"></i>
    </div>
    {{ form_rest(registrationForm) }}
    <button type="submit" class="btn btn-primary">Créer mon compte</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
