{% extends 'hommeultime.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
{#    {{ form_widget(registrationForm.challenge.1) }}<img src='{{ asset('uploads/challenge/seche.png') }}' />#}
{#    {{ form_widget(registrationForm.challenge.2) }}<img src='{{ asset('uploads/challenge/force.PNG') }}' />#}
{#    {{ form_widget(registrationForm.challenge.3) }}<img src='{{ asset('uploads/challenge/masse.png') }}' />#}

    {{ form_rest(registrationForm) }}
    <button type="submit" class="btn btn-primary">Créer mon compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
