<div class="sidebar">
    <ul class="sidebar-nav py-20">
        {# {{ dump(app.request.pathinfo) }}
  {{ dump(path('home')) }} #}
        {#  <a href="{{ path('home') }}" {% if app.request.pathinfo == '/' %} class="active" {% endif %}> #}
        {#    <i class="fa-solid fa-home mr-5"></i> #}
        {#    Liste des questions #}
        {#  </a> #}



        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="profile-acces" href="{{ path('app.home.muscu') }}">
                <img  class="avatar" src="{{ asset('uploads/images/' ~ app.user.photo) }}" alt="Profile avatar">
            </a>

            <h5>Ma routine</h5>

            <a  href="{{ path('savers.insert') }}" {% if ("/chakhguereevdev/public"~app.request.pathinfo) == path('savers.insert') %} class="active nav-link" {% else%} class="nav-link" {% endif %} >
                <i class="fa-solid fa-dragon mr-5"></i>S.A.V.E.R.S
            </a>

            <h5>Mon challenge</h5>
            <a href="{{ path('seances.day') }} " {% if ("/chakhguereevdev/public"~app.request.pathinfo) == path('seances.day') %} class="active nav-link" {% else%} class="nav-link" {% endif %}>
                <i class="fas fa-tachometer-alt mr-5"></i>Ma séance
            </a>
            <a href="{{ path('programme.show') }}" {% if ("/chakhguereevdev/public"~app.request.pathinfo) == path('programme.show') %} class="active nav-link" {% else%} class="nav-link" {% endif %}>
                <i class="fas fa-table mr-5"></i>Programmes
            </a>
            <a href="{{ path('exercice.all') }}" {% if (app.request.pathinfo) == path('exercice.all') %} class="active nav-link" {% else%} class="nav-link" {% endif %}>
                <i class="fa-solid fa-hand-fist mr-5"></i>Exercices
            </a>

            {%- if is_granted('ROLE_ADMIN') -%}
                <br>
                <hr>
                <br>
                <h5>Admin</h5>
                <a class="nav-link" href="{{ path('exercice.edit') }}">Création exercice </a>
                <a class="nav-link" href="{{ path('programme.edit') }}">Création programme </a>
                <a class="nav-link" href="{{ path('seances.edit') }}">Création seance</a>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <br>
                <a id="logout" href="{{ path('app.logout') }}">Me déconnecter</a>
            {% endif %}




        {% endif %}


    </ul>
</div>

