{% extends 'hommeultime.html.twig' %}

{% block title %}Création séance{% endblock %}

{% block stylesheets %}
    {{ parent() }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#    <script type="text/javascript"> #}
    {#        $(document).ready(function ($) { #}
    {#            $('#seance_programmes').select2({ #}
    {#                theme: "bootstrap-5", #}
    {#                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style', #}
    {#                placeholder: $(this).data('placeholder'), #}
    {#                closeOnSelect: false, #}
    {#            }) #}
    {#        }); #}
    {#    </script> #}
{% endblock %}

{% block content %}

    <h4>Création séance</h4>
    <div class="form_inputt">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(form) }}
        <br>
        <hr>

        <h5>Création nouvelle zone séance</h5>
        {{ form_start(zoneForm) }}
        {{ form_rest(zoneForm) }}
        <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(zoneForm) }}

    </div>

{% endblock %}
