{% extends 'hommeultime.html.twig' %}

{% block title %}Séances{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/seances.css') }}" type="text/css">
    <link href="{{ asset('styles/programme.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $(".seance").click(function (event) {
                $('#seance_' + event.target.id).slideToggle();
            });

            $('#details_programme').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) ;
                var recipient = button.data('programmeid');
                var modal = $(this);

                $.ajax({
                    url:'{{ (path('programme.action')) }}',
                    type: "GET",
                    dataType: "html",
                    data: {
                        "id": recipient
                    },
                    async: true,
                    success: function (data)
                    {
                        modal.find('.modal-body ').html(data);
                    }
                });

            })
        });
    </script>
    <script>
        $(document).on('click', 'button.ajax', function(){
            that = $(this);

            return false;

        });
    </script>

{% endblock %}

{% block content %}
    {% for  seance in seances %}
        {% if loop.first %}
            <div class="row semaine">Semaine - {{ seance.semaine }}</div>
        {% endif %}
        <div class="row seance" id="{{ seance.id }}">🔽 Séance : {{ seance.id }} - {{ seance.zone }}</div>

        <div class="row " id="seance_{{ seance.id }}">
            {% for  programme in seance.programmes %}
                <div class="col-md-3  col-xs-12 d-flex align-items-stretch mb-2">
                    <div class="card text-center border border-dark shadow-2">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="{{ asset('uploads/images/') ~ programme.exercice.image }}" height="330px"
                                 class="card-img-top" alt="Card Image"/>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ programme.exercice.nom }}</h5>
                            <p class="card-text">
                                {{ programme.exercice.patternMuscle }}
                            </p>
{#                            <a href="{{ path('programme.action',{id: programme.id}) }}">#}

                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#details_programme" data-programmeid="{{ programme.id }}">
                                Go  💯 
                            </button>

                            {#                            </a>#}
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

    {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="details_programme" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
