{% extends 'hommeultime.html.twig' %}

{% block title %}Séances{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const openInNewTab = (url) => {
            window.open(url, "_blank");
        }

        function pdf(s) {
            var path = '{{ url('seances.pdf') }}';
            openInNewTab(path + "/" + s);
        }

        $(document).ready(function () {
            //deplier
            var items = $('.seance_semaine');
            for (var i = 0; i <= items.length; i++) {
                $('#seance_' + i).slideToggle();
            }
            $(".seance").click(function (event) {
                $('#seance_' + event.target.id).slideToggle();
            });


            // Récupère l'élément de la modale par son ID et ferme la modale
            const modal = document.getElementById('details_programme');
            let modalBody = modal.querySelector('.modal-body');
            document.addEventListener('click', function (e) {
                if (!modalBody.contains(e.target) && modalBody.style.display !== 'none') {
                    modal.style.display = 'none';
                }
            });

            const detailProg = document.querySelectorAll('.details_programme');

            // Parcourt tous les boutons et attache un écouteur d'événement de clic à chacun
            detailProg.forEach(function (bouton) {
                bouton.addEventListener('click', function () {
                    const url = '{{ path('programme.action') }}';


                    fetch(url + '/' + bouton.dataset.programmeid)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('La requête a échoué');
                            }
                            return response.text();
                        })
                        .then(data => {
                            let modal = document.getElementById('details_programme');
                            let modalBody = modal.querySelector('.modal-body');
                            modalBody.innerHTML = data;
                            modal.style.display = 'flex';
                        })
                        .catch(error => {
                            console.error('Erreur lors de la requête:', error);
                        });
                })
            });
        });
    </script>
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal" id="details_programme">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>

    <div class="seances">

        {% for  seance in seances %}
            {% if loop.first %}
                <h2>Seances semaine</h2>
            {% endif %}

            <div class="seance" id="{{ seance.id }}">🔽  Jour : {{ seance.numJour }} - {{ seance.zone }}</div>
            <div class="seance_semaine" id="seance_{{ seance.id }}">
                <button type="button" class="btn btn-primary" onclick="pdf({{ seance.id }})"><i
                            class="fa-solid fa-file-pdf"></i></button>


                {% for  programme in seance.programmes %}
                    <div class="exercice-view">
                        <img src="{{ asset('uploads/images/') ~ programme.exercice.image }}" height="330px"
                             alt="Exercice"/>
                        <h5>{{ programme.exercice.nom }}</h5>
                        <h6>{{ programme.exercice.patternMuscle }}</h6>
                        <button type="button" class="btn btn-action details_programme"
                                data-programmeid="{{ programme.id }}">
                            Commencer  💯 
                        </button>
                    </div>
                {% endfor %}

                <button type="submit" class="btn-done btn btn-primary">J'ai terminé ma séance <i
                            class="fa-solid fa-check"></i>
                </button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
