{% extends 'hommeultime.html.twig' %}

{% block title %}Séances{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/seances.css') }}" type="text/css">

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

            const openInNewTab = (url) => {
                window.open(url, "_blank");
            }

            function pdf(s) {
                var path = '{{ url('seances.pdf') }}';
                openInNewTab(path + "/" + s);
            }



        $(document).ready(function () {
            var items = $('.seance_semaine');
            for (var i = 0; i <= items.length; i++) {
                $('#seance_' + i).slideToggle();
            }


            $(".seance").click(function (event) {

                $('#seance_' + event.target.id).slideToggle();
            });

            $('#details_programme').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var recipient = button.data('programmeid');
                var modal = $(this);

                $.ajax({
                    url: '{{ (path('programme.action')) }}',
                    type: "GET",
                    dataType: "html",
                    data: {
                        "id": recipient
                    },
                    async: true,
                    success: function (data) {
                        modal.find('.modal-body ').html(data);
                    }
                });

            })


            //geoloc
            // var options = {
            //     enableHighAccuracy: true,
            //     timeout: 5000,
            //     maximumAge: 0
            // };
            //
            // //notification
            //
            //
            // function success(pos) {
            //     var crd = pos.coords;
            // }
            //
            // function error(err) {
            //     console.warn(`ERREUR (${err.code}): ${err.message}`);
            // }
            //
            // navigator.geolocation.getCurrentPosition(success, error, options);
        });

    </script>

{% endblock %}

{% block content %}

    {% for  seance in seances %}
        {% if loop.first %}
            <div class="row semaine">Semaine - {{ seance.semaine }} - {{ seance.programme_muscu }}</div>
        {% endif %}
        <div class="row justify-content-end">
            <div class="col-lg-1 col-md-2 col-sm-2 my-2 p-0 d-none d-md-block d-lg-block">
                <button type="button" class="btn btn-primary" onclick="pdf({{ seance.semaine }})">Imprimer</button>
                </a>
            </div>
        </div>

        <div class="row seance" id="{{ seance.id }}">🔽 Séance : {{ seance.id }} - {{ seance.zone }}</div>

        <div class="row seance_semaine" id="seance_{{ seance.id }}">
            {% for  programme in seance.programmes %}
                <div class="col-md-3  col-xs-12 d-flex align-items-stretch mb-2">
                    <div class="card text-center border border-dark shadow-2">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="{{ asset('uploads/images/') ~ programme.exercice.image }}" height="330px"
                                 class="card-img-top" alt="Card Image"/>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ programme.exercice.nom }}</h5>
                            <p class="card-text">
                                {{ programme.exercice.patternMuscle }}
                            </p>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                    data-bs-target="#details_programme" data-programmeid="{{ programme.id }}">
                                Go  💯 
                            </button>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

    {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="details_programme" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">C'est parti !</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Terminer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
