{% extends 'hommeultime.html.twig' %}

{% block title %}Séances{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/seances.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const openInNewTab = (url) => {
            window.open(url, "_blank");
        }

        function pdf(s) {
            var path = '{{ url('seances.pdf') }}';
            openInNewTab(path + "/" + s);
        }
        
      
        $(document).ready(function () {
            //deplier
            var items = $('.seance_semaine');
            for (var i = 0; i <= items.length; i++) {
                $('#seance_' + i).slideToggle();
            }
            $(".seance").click(function (event) {
                $('#seance_' + event.target.id).slideToggle();
            });


            const modal = $("#details_programme");

           $("#dismiss").click(function (event) {
            modal.removeClass("d-flex");
             });


            $('.details_programme').click(function (event) {
                var button = $(event.target);
                var recipient = button.data('programmeid');

                
                $.ajax({
                    url: '{{ (path('programme.action')) }}',
                    type: "GET",
                    dataType: "html",
                    data: {
                        "id": recipient
                    },
                    async: true,
                    success: function (data) {
                        modal.find('.modal-body ').html(data);

                        modal.addClass("d-flex");
                    }
                });
            })
        });
    </script>
{% endblock %}

{% block content %}
<!-- Modal -->
    <div class="modal" id="details_programme">
            <div class="modal-content">
                <div class="modal-body">
                </div>
                <div class="modal-footer justify-content-evenly">
                    <button id="dismiss" type="button" class="btn btn-primary ">
                        Fermer
                    </button>
                </div>
            </div>
    </div>

{% for  seance in seances %}
            {% if loop.first %}
               <h2>Seances semaine</h2>
            {% endif %}
            <div class="seance" id="{{ seance.id }}">🔽  Jour : {{ seance.numJour }} - {{ seance.zone }}</div>


            <div class="seance_semaine" id="seance_{{ seance.id }}">
                <button type="button" class="btn btn-primary" onclick="pdf({{ seance.id }})"><i
                            class="fa-solid fa-file-pdf"></i></button>
            

        {% for  programme in seance.programmes %}
                <div class="exercice-view">
                        <img src="{{ asset('uploads/images/') ~ programme.exercice.image }}" height="330px" alt="Card Image"/>
                        <h5>{{ programme.exercice.nom }}</h5>
                        <h6>{{ programme.exercice.patternMuscle }}</h6>
                        <button type="button" class="btn btn-action details_programme" data-programmeid="{{ programme.id }}">
                            Commencer  💯 
                        </button>
                </div>

        {% endfor %}
            <button type="submit" class="btn-done btn btn-primary">J'ai terminé ma séance <i class="fa-solid fa-check"></i>
            </button>
            </div>
    {% endfor %}
{% endblock %}
