{% extends 'base.html.twig' %}

{% block title %}
    Homme Ultime
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('./styles/styles.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('./node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('./styles/fonts.css.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('./js/scripts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('./js/datatables-simple-demo.js') }}" type="text/javascript"></script>
    <script src="{{ asset('./node_modules/@fancyapps/fancybox/dist/jquery.fancybox.js') }}"
            type="text/javascript"></script>
{% endblock %}

{% block body %}
    <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="{{ path('programme.show') }}">Homme ultime</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                    class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            {#            <div class="input-group"> #}
            {#                <input class="form-control" type="text" placeholder="Sqa" aria-label="Search for..." #}
            {#                       aria-describedby="btnNavbarSearch"/> #}
            {#                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i> #}
            {#                </button> #}
            {#            </div> #}
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Profile</a></li>
                    <hr class="dropdown-divider"/>
                </ul>
            </li>
            <li><a class="dropdown-item" href="#!">Deconnexion</a></li>
        </ul>
        </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Administration</div>
                        <a class="nav-link" href="{{ path('exercice_edit') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Création exercice
                        </a>
                        <a class="nav-link" href="{{ path('programme.edit') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Création programme
                        </a>


                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            <!---ICI--->
                            Routine
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="layout-static.html">S.A.V.E.R.S</a>
                                <a class="nav-link" href="layout-sidenav-light.html">Iromos Routine</a>
                            </nav>
                        </div>


                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                           aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            <!---ICI--->
                            Articles
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                   data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                   aria-controls="pagesCollapseAuth">
                                    Santé
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                     data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="login.html">Jeune intermittent</a>
                                        <a class="nav-link" href="register.html">Nutrition</a>
                                        <a class="nav-link" href="password.html">Sommeil</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Musculation</div>
                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Suivi
                        </a>
                        <a class="nav-link" href="{{ path('programme.show') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Programme
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Compte :</div>
                    CHAKHGUEREEVDEV
                </div>
            </nav>
        </div>

        {#        {{ include('fragments/date-jour.html.twig') }} #}
        {#        {{ render('App\\Controller\\nomController:func',{max:10}) }} #}

    </div>
    <!--- message_session ---->
    <div class="container mt-3 px-4">
        {% for message in app.session.flashBag.get('info') %}

            <div class="mt-4 alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.session.flashBag.get('success') %}

            <div class="mt-4 alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.session.flashBag.get('error') %}

            <div class="mt-4 alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div id="content" class="container-fluid ">
        {% block conntent %}

        {% endblock %}
    </div>
    </body>

{% endblock %}
