{% extends 'base.html.twig' %}

{% block title %}
    ChallengePack🔥 
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('node_modules/select2/dist/css/select2.min.css') }}" type="text/css"/>
    <link rel="stylesheet"
          href="{{ asset('node_modules/select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.rtl.min.css') }}"
          type="text/css"/>
    <link href="{{ asset('styles/styles.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/select2/dist/js/select2.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/scripts.js') }}" type="text/javascript"></script>

{% endblock %}

{% block body %}
    <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="{{ path('app.home.muscu') }}">ChallengePack🔥 </a>
        <!-- Sidebar Toggle-->
        {% if is_granted('IS_AUTHENTICATED_FULLY')  %}
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                    class="fas fa-bars"></i></button>
        {% endif %}
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            {#            <div class="input-group"> #}
            {#                <input class="form-control" type="text" placeholder="Sqa" aria-label="Search for..." #}
            {#                       aria-describedby="btnNavbarSearch"/> #}
            {#                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i> #}
            {#                </button> #}
            {#            </div> #}
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">{{  (app.user)?app.user.prenom:"" }}<i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a class="dropdown-item" href="{{ path('app.home.muscugit') }}">Challenge</a></li>
                        <li><a class="dropdown-item" href="{{ path('app.logout') }}">Paramètres</a></li>
                        <li><a class="dropdown-item" href="{{ path('app.logout') }}">Logout</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{{ path('app.login') }}">Login</a></li>
                        {#                        <li><a class="dropdown-item" href="{{ path('app.register') }}">Register</a></li> #}
                    {% endif %}

                </ul>
            </li>
        </ul>
    </nav>
    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.challenge %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Ma routine</div>
                        <a class="nav-link" href="{{ path('savers.insert') }}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-dragon"></i></div>
                            S.A.V.E.R.S
                        </a>
                        <div class="sb-sidenav-menu-heading">Mon challenge</div>
                        <a class="nav-link" href="{{ path('seances.day') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Ma séance
                        </a>
                        <div class="sb-sidenav-menu-heading">Administration</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            <!---ICI--->
                            Base de données
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{{ path('exercice.edit') }}">Création exercice </a>
                                <a class="nav-link" href="{{ path('programme.edit') }}">Création programme </a>
                                <a class="nav-link" href="{{ path('seances.edit') }}">Création seance</a>
                                <a class="nav-link" href="{{ path('seances.day') }}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Seances
                                </a>
                                <a class="nav-link" href="{{ path('programme.show') }}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Programmes
                                </a>
                                <a class="nav-link" href="{{ path('exercice.all') }}">
                                    <div class="sb-nav-link-icon"><i class="fa-solid fa-hand-fist"></i></div>
                                    Exercices
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    {% endif %}
    <!--- message_session ---->
    <div id="content" class="container">
            {% for message in app.session.flashBag.get('info') %}
                <br>
                <div class="row alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.session.flashBag.get('success') %}
                <br>
                <div class="row alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.session.flashBag.get('error') %}
                <br>
                <div class="row alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% block content %}

        {% endblock %}
    </div>
    </body>

{% endblock %}
