{% extends 'hommeultime.html.twig' %}

{% block title %}
    Création exercice
{% endblock %}


{% block content %}
    <h4>Création Exercice</h4>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(form.patternMuscle) }}
            {{ form_row(form.image) }}
    <div class="checkbox-wrapper-19">
        {{ form_widget(form.principal) }}
        Exercice principal
        {{ form_label(form.principal, ' ', {'label_attr': {'class': 'check-box'}}) }}
    </div>

    {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary ">Créer exercice</button>
    {{ form_end(form) }}
    <br>
    <hr>

    <div class="row">
        <div class="col">
            <h5>Création nouveau pattern muscles</h5>
            {{ form(patternMuscleForm) }}
            {{ form_rest(patternMuscleForm) }}
            <button type="submit" class="btn btn-primary ">Créer exercice</button>
            {{ form_end(patternMuscleForm) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
{% endblock %}