{% extends 'hommeultime.html.twig' %}

{% block title %}
    Création exercice
{% endblock %}


{% block content %}
    <h5>Création Exercice</h5>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.patternMuscle) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.image) }}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <hr>
    <div class="row">
        <div class="col">
            <h5>Création nouveau pattern muscles</h5>
            {{ form(patternMuscleForm) }}
            {{ form_end(patternMuscleForm) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
{% endblock %}



