{% extends 'hommeultime.html.twig' %}

{% block title %}Exercices{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}
    {% for  exercice in exercices %}
        <div class="exercices {{ exercice.principal?"bg-main":"bg-seconds" }}">
            <b>{{ exercice.nom }} </b>{{ exercice.patternMuscle }}
            <img src="{{ asset('uploads/images/') ~ exercice.image }}" >
            <a href="{{ path('exercice.edit',{id:exercice.id}) }}" alt="Editer" >
                <button class="btn btn-primary" type="button">
                    <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                </button>
            </a>
        </div>
    {% endfor %}
{% endblock %}
