{% extends 'hommeultime.html.twig' %}

{% block title %}Séances{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{#    <link rel="stylesheet" href="{{ asset('styles/seances.css') }}" type="text/css">#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <h4>Exercices</h4>
    <div class="row">


    {% for  exercice in exercices %}
        <div class="card px-2 mx-2 my-2 {{ exercice.principal?"bg-danger":"bg-warning" }}" style="width: 18rem;">
            <img src="{{ asset('uploads/images/') ~ exercice.image }}" height="200px" class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ exercice.nom }}</h5>
                <p class="card-text">{{ exercice.patternMuscle }}</p>

            </div>
            <div class="ratio ratio-16x9">
                <iframe src="{{ exercice.video }}" class="responsive-iframe" allowfullscreen></iframe>
            </div>
            <div class="card-body">
                <a href="{{ path('exercice.edit',{id:exercice.id}) }}" ><button type="button" class="btn btn-light">Editer</button></a>
            </div>
        </div>

    {% endfor %}
    </div>


{% endblock %}
