{% extends 'hommeultime.html.twig' %}

{% block title %}Exercices{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/seances.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <h4>Exercices</h4>

        {% for  exercice in exercices %}
            <div class="row exercices {{ exercice.principal?"bg-main":"bg-seconds" }}">
                {#                <div class="col  m-2" style="width: 18rem;"> </div> #}
                <div class="col">
                    <b>{{ exercice.nom }}</b>
                    <p>{{ exercice.patternMuscle }}</p>
                </div>
                <div class="col .d-none .d-md-block .d-lg-block ratio ratio-16x9">
                    <iframe src="{{ exercice.video }}" class="responsive-iframe" allowfullscreen></iframe>
                </div>
                <div class="col">
                    <img src="{{ asset('uploads/images/') ~ exercice.image }}" height="200px" class="w-100 m-auto rounded ">
                </div>
                <div class="col">
                    <button class="btn btn-dark btn-sm my-1 w-100" type="button"><a
                                href="{{ path('exercice.edit',{id:exercice.id}) }}" alt="Editer"
                                class="link_edit m-2"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
                    </button>
                    <br>
                    <button class="btn btn-dark btn-sm my-1 w-100" type="button" data-bs-toggle="modal" data-bs-target="#suppression"><a
                                href="#" alt="Supprimer"
                                class="link_edit m-2"><i class="fa-sharp fa-solid fa-trash"></i></a></button>
                </div>

            </div>
        {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="suppression" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Danger !</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-danger">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
