{% extends 'base.html.twig' %}

{% block title %}Edition programme{% endblock %}

{% block body %}
    {% for message in app.session.flashBag.get('info') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container px-4">
        {{ form(seanceForm) }}
        {{ form_end(seanceForm) }}

        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
{#        <div class="row">#}
{#            <div class="col">#}
{#                {{ form_row(form.patternMuscle) }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col">#}
{#                {{ form_row(form.image) }}#}
{#            </div>#}
{#            <div class="col">#}
{#                {{ dump(form.image) }}#}
{#                #}{#                <img src="{{ asset('uploads/images/'~.image) }}"> #}
{#            </div>#}
{#        </div>#}

{#        {{ form_rest(form) }}#}

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
{% endblock %}
