{% extends 'hommeultime.html.twig' %}

{% block title %}Edition programme{% endblock %}

{% block conntent %}

    <div class="container px-4">
        <hr>
        <div class="row">
            <div class="col">
                <h5>Création séance</h5>
                {{ form(seanceForm) }}
                {{ form_end(seanceForm) }}
            </div>
            <div class="col">
                <div class="row">
                    <h5>Création zone</h5>
                    {{ form(zoneForm) }}
                    {{ form_end(zoneForm) }}
                </div>
                                <div class="row">
                                    <h5>Création Pattern Muscle</h5>
                                    {{ form(patternMuscleForm) }}
                                    {{ form_end(patternMuscleForm) }}
                                </div>

            </div>
        </div>


        <hr>
        <h5>Création programme</h5>
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
        {#        <div class="row"> #}
        {#            <div class="col"> #}
        {#                {{ form_row(form.patternMuscle) }} #}
        {#            </div> #}
        {#        </div> #}
        {#        <div class="row"> #}
        {#            <div class="col"> #}
        {#                {{ form_row(form.image) }} #}
        {#            </div> #}
        {#            <div class="col"> #}
        {#                {{ dump(form.image) }} #}
        {#                #}{#                <img src="{{ asset('uploads/images/'~.image) }}"> #}
        {#            </div> #}
        {#        </div> #}

        {#        {{ form_rest(form) }} #}

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
{% endblock %}
