{% extends 'hommeultime.html.twig' %}

{% block title %}Edition programme{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
{% endblock %}

{% block content %}

    <h4>Création programme</h4>
    <div class="form_inputt">
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Créer pattern</button>
        {{ form_end(form) }}
    </div>
{% endblock %}


